# Python
.env/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# DVC
.dvc/tmp/
.dvc/cache/

# Data & reports artifacts
/data/

# Local-only technical samples (do not version)
Samples-Technical_Content/
